<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">

    <ul class="list-group list-group-horizontal"  >
      <li><a class="navbar-brand text-white" routerLink="/">Navbar</a></li>

      <li><a class="navbar-brand text-white" routerLink="/form">Form</a></li>

      <li><a class="navbar-brand text-white" routerLink="/view">View</a></li>
    </ul>
     
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  
</nav>


<router-outlet></router-outlet>
